/* Start Variables */

/* End Variables */

/*  Start Global Rules*/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  font-family: "Work Sans", sans-serif;
}
.parent {
  background-color: #eee;
}
.container {
  margin: 0 auto;
  padding: 0 15px;
}

/* End Global Rules */
/* Start Header */
.header {
  padding: 20px;
  background-color: #ddd6f4;
}
.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .logo {
  width: 60px;
}
.header .links {
  position: relative;
  cursor: pointer;
}
.header .links:hover .icon span:nth-child(2) {
  width: 100%;
}
.header .links .icon {
  width: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}
.header .links .icon span {
  background-color: #333;
  margin-bottom: 5px;
}
.header .links .icon span:first-child {
  height: 3px;
  width: 100%;
}
.header .links .icon span:nth-child(2) {
  height: 3px;
  width: 50%;
  transition: 0.5s;
}
.header .links .icon span:nth-child(3) {
  height: 3px;
  width: 100%;
}
.header .links ul {
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  right: 0;
  min-width: 200px;
  top: calc(100% + 15px);
  background-color: #796c97;
  display: none;
  transition: 0.3s;
  z-index: 1;
}
.header .links ul::before {
  content: "";
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent #333 transparent;
  position: absolute;
  right: 5px;
  top: -20px;
}
.header .links ul li a {
  display: block;
  padding: 15px;
  color: #ffffff;
  text-decoration: none;
  transition: 0.3s;
}
.header .links ul li a:hover {
  padding-left: 25px;
}
.header .links ul li:not(:last-child) a {
  border-bottom: 1px solid #000;
}
.header .links:hover ul {
  display: block;
}

/* Start Landing Section */

.landing {
  background-image: url(../imges/171-1715544_3-monitor-wallpaper-hd-retro.jpg);
  background-size: cover;
  height: calc(100vh - 64px);
}
.landing .intro-text {
  position: absolute;
  left: 11%;
  top: 39%;
  text-align: center;
  max-width: 100%;
}
.landing .intro-text h1 {
  margin: 0;
  color: #000;
  font-size: 69px;
  font-family: "Lobster", cursive;
  font-weight: 500;
}
.landing .intro-text p {
  color: #edebf0;
  font-size: 20px;
}

/* End Landing Section */

/* Start Features */
.features {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #796c97;
}

.features .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(282px, 1fr));
  gap: 20px;
  transition: 0.4s;
}
.features .feat:first-child:hover {
  transform: scale(1.1);
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}
.features .feat:nth-child(2):hover {
  transform: scale(1.1);
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}
.features .feat:nth-child(3):hover {
  transform: scale(1.1);
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}
.features .feat {
  padding: 20px;
  text-align: center;
  border-radius: 30px;
  background-color: #ddd6f4;
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  width: 282px;
}
.features .feat i {
  color: #796c97;
  font-size: 40px;
}
.features .feat h3 {
  font-family: "Cairo", sans-serif;
  font-weight: 800;
  margin: 20px 0 15px;
}
.features .feat p {
  line-height: 1.8;
  font-size: 17px;
  font-family: "Josefin Sans", sans-serif;
}
hr {
  height: 4px;
  margin: 0;
}
/* End Features */
/* Start Services */
.containe {
  /* background-color: #926fe3; */
  margin: 0 auto;
  background-image: url(/imges/Care.PNG);
  background-size: cover;
}
.col {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(282px, 1fr));
  gap: 20px;
}
.container > h1,
.container > p {
  text-align: center;
}
.containe h1 {
  color: #cfcadf;
  font-size: 100px;
  padding-top: 21px;
  text-align: center;
  letter-spacing: 1px;
  margin: 0;
  font-family: "Josefin Sans", sans-serif;
}
.containe .para {
  margin: -7px 0 20px;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  font-family: "Cairo", sans-serif;
}
.services {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 6px;
}
.service {
  background-color: #efefef80;
  margin: 10px;
  overflow: hidden;
  padding: 35px 15px;
  position: relative;
  text-align: center;
  transition: background-color 0.3s ease-in, transform 0.3s ease-in;
  width: 200px;
  cursor: pointer;
}
.service:hover {
  background-color: #796c97;
  transform: translateY(-3px);
}
.service::before {
  content: "";
  border-width: 20px;
  border-style: solid;
  border-color: #926fe3 #926fe3 rgba(1, 1, 1, 0.4) rgba(0, 0, 0, 0.4);
  position: absolute;
  top: -40px;
  right: -40px;
  transition: right 0.3s ease-out, top 0.3s ease-out;
}
.service:hover::before {
  right: 0;
  top: 0;
}
.service > i {
  display: block;
  color: #652f91;
  font-size: 4rem;
  margin-bottom: 0.9rem;
  transition: color 0.3s ease-out;
}
.service > .title {
  font-size: 1.2rem;
  line-height: 1.56rem;
  margin-bottom: 1rem;
  text-transform: capitalize;
  transition: color 0.3s ease-out;
}
.service > .description {
  line-height: 1.56rem;
  margin: 0;
  transition: color 0.3s ease-out;
}

.service:hover > i {
  color: #ad8aff;
}
.service:hover > .title {
  color: #fff;
}
.service:hover > .description {
  color: #ddd6f4;
}
/* End Services */
/* Small Screens */
@media (max-width: 767px) {
  .landing .intro-text h1 {
    font-size: 13vw;
  }
  .containe .para {
    font-size: 15px;
  }
  .features .container {
    margin: 0 32px;
  }
  .containe h1 {
    font-size: 70px;
  }
  .service > i {
    font-size: 3.2rem;
  }
  .col {
    gap: 0;
  }
  .landing .intro-text {
    top: 48%;
  }
  .service {
    padding: 13px 15px;
  }
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium Screens */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large screens */
@media (min-width = 1200px) {
  .container {
    width: 1170px;
  }
}
